@page
@model LoginModel
@{
    ViewData["Title"] = "Logowanie - TradeList";
    Layout = "_Layout";
}

<div class="login-container">
    <h3 class="text-center">Logowanie</h3>

    <!-- Formularz logowania -->
    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Adres e-mail</label>
            <input type="email" class="form-control" id="email" name="Input.Email" placeholder="Wprowadź e-mail" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Hasło</label>
            <input type="password" class="form-control" id="password" name="Input.Password" placeholder="Wprowadź hasło" />
        </div>
        <button type="submit" class="btn btn-primary w-100">Zaloguj się</button>
    </form>

    <div class="text-center my-3">lub</div>

    <a href="@Url.Page("/Login", "", new { handler = "Google" })" class="btn btn-google w-100">
        <img src="https://img.icons8.com/color/16/000000/google-logo.png" class="me-2" alt="Google logo" />
        Zaloguj się przez Google
    </a>

    <p class="text-center mt-3">
        <a asp-page="/Account/Register" class="btn btn-google w-100">
            Nie masz konta? Zarejestruj się
        </a>
    </p>
</div>
